{% extends 'base.html.twig' %}

{% block body %}
    <h1> S'inscrire sur SteamLike </h1>

    {{ form_start(form) }}
    {{ form_row(form.firstName, {'label' : 'Nom', 'attr': {'placeholder': 'Votre nom...' }}) }}
    {{ form_row(form.lastName, {'label' : 'Prenom', 'attr': {'placeholder': 'Votre prénom...' }}) }}
    {{ form_row(form.username, {'label' : 'Nom d\'utilisateur', 'attr': {'placeholder': 'Votre nom d\'utilisateur...' }}) }}
    {{ form_row(form.password, {'label' : 'Mot de passe', 'attr': {'placeholder': 'Votre mot de passe...' }}) }}
    <button type="submit" class="btn btn-success"> Inscription ! </button>
    {{ form_end(form) }}

{% endblock %}