{% extends 'base.html.twig' %}

{% block title %} Modification du profil {% endblock %}

{% block body %}

    <div class="grix xs4 container">
        </div class = "col-xs4">

            <h1> Modification du profil de {{app.user.username}} </h1>
            {{ form_start(form) }}
            {{ form_row(form.firstName, {'label' : 'Changer username', 'attr': {'placeholder': 'username...' }}) }}
            <button type="submit" class="btn btn-success"> Inscription ! </button>
            {{ form_end(form) }}

        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-success">
            <a href="{{ path('user')}}" class="nav-link text-black-50"> Retour </a>
    </div>    

{% endblock %}